.questions {
    margin-top: 8%;
}

.questions__list {
    display: block;
    margin-top: 8px;
    padding: 20px 20px;
    border-radius: 4px;
}

.questions__item {
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 8px;
    /*width: 642px;*/
}

.questions__item_main {
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 8px;
}

.avatar {
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: 8%;
}


.user {
    /*display: -webkit-inline-box;*/
    text-align: right;
}

.like {
    display: block;
    position: absolute;
    right: 18px;
    bottom: 4px;
}

.like__list {
    display: block;

}

.rating {
    display: inline-table;
    width: 250px;
    height: 500px;
    text-align: center;
    border-radius: 7px;
}

.rating__item {
    display: block;
}


.answer {
    display: block;
}

.liker {
    margin-left: 48px;
    top: 3%;
    transform: translate(0, -40%);
}

.like__bar {
    margin-bottom: 6px;
}

.like__button {
    width: 76px;
}

.user__detail {
    padding-left: 10px;
    padding-bottom: 4px ;
}

.footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.avatar_main {
    width: 30px;
    height: 30px;
}