{% extends 'forum/base.html' %}
{% load widget_tweaks %}

{% block registered_userpanel %}
    {% include 'register/unreg_panel.html' %}
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="POST" novalidate>{% csrf_token %}
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <button class="brown gr-yell btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <div class="mt-4">
        <a href="{% url 'signup' %}">Create new account</a>
    </div>
{% endblock %}
