{% extends 'forum/base.html' %}
{% load widget_tweaks %}
{% block registered_userpanel %}
    {% include 'register/unreg_panel.html' %}
{% endblock %}

{% block content %}
    <h1>Registration</h1>
    <form enctype="multipart/form-data" method="POST" novalidate>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01">First name</label>
                <input type="text" class="form-control" id="validationServer01" placeholder="First name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServer02">Last name</label>
                <input type="text" class="form-control" id="validationServer02" placeholder="Last name" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServerUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                    </div>
                    <input type="text" class="form-control" id="validationServerUsername"
                           placeholder="Username" aria-describedby="inputGroupPrepend3" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationServer03">City</label>
                <input type="text" class="form-control" id="validationServer03" placeholder="City" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer04">State</label>
                <input type="text" class="form-control" id="validationServer04" placeholder="State" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer05">Zip</label>
                <input type="text" class="form-control" id="validationServer05" placeholder="Zip" required>
            </div>
        </div>
        <button class="brown mt-4 gr-yell btn btn-lg btn-primary btn-block" type="submit">Register!</button>
    </form>
{% endblock %}
