{% extends 'forum/base.html' %}
{% block content %}
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01">First name</label>
                <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name"
                       required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServer02">Last name</label>
                <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name"
                       required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServerUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                    </div>
                    <input type="text" class="form-control is-invalid" id="validationServerUsername"
                           placeholder="Username" aria-describedby="inputGroupPrepend3" required>
                    <div class="invalid-feedback">Please choose a username.</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationServer03">Password</label>
                <input type="password" class="form-control is-invalid" id="validationServer03" placeholder="Password"
                       required>
                <div class="invalid-feedback">Please provide a valid city.</div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer04">Repeat password</label>
                <input type="password" class="form-control is-invalid" id="validationServer03"
                       placeholder="Repeat password" required>
                <div class="invalid-feedback">Please provide a valid state.</div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationServer05">Old password</label>
                <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Old password"
                       required>
                <div class="invalid-feedback">Please provide a valid zip.</div>
            </div>
        </div>

        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
{% endblock %}
