{% extends 'forum/base.html' %}
{% load static %}

{% block register %}
    {% include 'register/reg_panel.html' %}
{% endblock %}

{% block content %}
    <h1>Settings: {{ user.username }} </h1>
    <div class="nav-item mr-3">
        <img class="avatar img-circle img-responsive" src="{{ user.image_path }}" width="120" height="120" alt="avatar">
    </div>
    <form enctype="multipart/form-data" method="POST" novalidate>
        {% include 'common/form.html' %}
        <button type="submit" class="btn btn-success"><b>Save</b></button>
    </form>
{% endblock %}
