{% block content %}
    {% load static %}
    {% for answer in answers %}
        <div class="answer">
            <div class="bg-warning alert">
                <div class="row">
                    <div class="col">
                        <img class="avatar" src="{{ answer.author.image_path }}" width=60 height=60 alt="USER IMAGE">
                        <a href="#"><strong>{{ answer.author }}</strong></a>
                    </div>
                    <div class="col-3">

                    </div>
                </div>
                <p>{{ answer.text|linebreaksbr }}</p>
                <div class="date">
                    <p>Answered: {{ answer.created_date }}</p>
                </div>
                {% csrf_token %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
