{% extends 'forum/base.html' %}
{% load static %}

{% block registered_userpanel %}
    {% include 'register/reg_panel.html' %}
{% endblock %}

{% block content %}
    <h1>New Question</h1>
    <form method="POST" novalidate>
        {#    {% include 'common/form.html' %}#}
        <div class="form-group">
            <label for="title">Question title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="question">Your question</label>
            <textarea class="form-control" id="question" rows="4" placeholder="Write your question here..."></textarea>
        </div>
        <button type="submit" class="btn btn-success"><b>Ask</b></button>
    </form>
{% endblock %}
