{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static '/img/favicon.ico' %}">
    <title>Ask TechnoPark</title>
</head>
<body>
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <span class="iconic iconic-star" title="star" aria-hidden="true"></span>
        <a class="navbar-brand" href="{% url 'post_list' %}">
            <strong>Ask TechnoPark</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'post_list' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        {#                        <a class="nav-link" href="{% url 'settings' %}">Settings</a>#}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'question_new' %}">Ask Question<span
                                class="sr-only">(current)</span></a>
                    </li>
                {% endif %}

                <div class="row-4 col">
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </ul>

            {% if user.is_authenticated %}

                <ul class="navbar-nav">
                    <div class="nav-item active">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </div>
                </ul>
                <div class="nav-item mr-3">
                    <img class="avatar avatar_main img-circle img-responsive" src="{{ user.image_path }}" width="45" height="45" alt="avatar">
                </div>
                <form class="form-inline mt-2 mt-md-0">
                    <div class="nav-item">
                        <a class="btn btn-outline-success my-2 my-sm-0"
                                {#                           href="{% url 'logout' %}?redirect_to={{ request.get_full_path|urlencode }}">Log out</a>#}
                           href="#"><strong>Logout</strong></a>

                    </div>
                </form>
                <!-- </ div> -->
                <!-- </div> -->
            {% else %}
                <form class="form-inline mt-2 mt-md-0">
                    <div class="col   nav-item">
                        <a href="{% url 'login' %}?redirect_to={{ request.get_full_path|urlencode }}"><strong>Log
                            In</strong></a>
                    </div>
                </form>
                <form class="form-inline mt-2 mt-md-0">
                    <div class="nav-item">
                        <a class="btn btn-outline-success my-2 my-sm-0"
                           href="{% url 'signup' %}?redirect_to={{ request.get_full_path|urlencode }}">Sign Up</a>
                    </div>
                </form>
            {% endif %}
        </div>
    </nav>
</header>

<!-- Begin page content -->
<div class="questions">
    <div class="container mt-6">
        <div class="row">
            <div class="col-9">
                <div class="alert alert-primary light-gr-yell">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <div class="col-3">
                <div class="bg-info rating">
                    <div class="bg-warning mt-5">
                        <h4><b>Popular tags</b></h4>
                        <h5>
                            <a class="rating__item" href="#">Perl</a>
                            <a class="rating__item" href="#">Python</a>
                            <a class="rating__item" href="#">TechnoPark</a>
                            <a class="rating__item" href="#">MySQL</a>
                            <a class="rating__item" href="#">Mail.ru</a>
                            <a class="rating__item" href="#">Firefox</a>
                        </h5>
                    </div>
                    <div class="bg-warning question-container users-list-item mt-5">
                        <h4><b>Best members</b></h4>
                        <h5>
                            <a class="rating__item" href="#">Dr. House</a><br>
                            <a class="rating__item" href="#">Cool Man</a><br>
                            <a class="rating__item" href="#">Prokop</a><br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="card-footer">
        <span class="made-by text-muted">Made by Andrey Prokopenko, 2019-2020</span>
    </div>
</footer>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
`