{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
    <!-- <a class="header-link" href="{% url 'post_list' %}"><strong>New Questions</strong></a> -->
    <div class="header-link">
        {% if not status %}
            <a href="{% url 'post_list' %}" class="badge badge-danger">New Questions</a>
            <a href="{% url 'hot' %}" class="badge badge-light">Top Questions</a>
        {% else %}
            <a href="{% url 'post_list' %}" class="badge badge-light">New Questions</a>
            <a href="{% url 'hot' %}" class="badge badge-danger">Top Questions</a>
        {% endif %}
    </div>
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"#}
{#            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}

    {% include 'forum/question_list.html' %}
    {% include 'forum/pagination.html' %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><-</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">-></a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
