{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
    <div class="page-header question-header">
        <h2>Answers</h2>
    </div>

    <div class="question">
        <div class="bg-light question-container form-group">
            <nav aria-label="breadcrumb"><h1>{{ question.title }}</h1></nav>
            <p>{{ question.text|linebreaksbr }}</p>
            <div class="tags-list-item">
                <strong>Tags:</strong>
                {% for tag in question.tags.all %}
                    <a href="{{ tag.get_absolute_url }}" class="badge badge-warning">{{ tag.title }}</a>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="date">
                        <p>Asked: {{ question.created_date }}</p>
                    </div>
                    <div class="user__detail">
                        <img class="avatar" src="{{ question.author.image_path }}" alt="Generic placeholder image">
                        <a href="#">{{ question.author.username }}</a>
                    </div>
                </div>
                <div class="col-8">
                    {% csrf_token %}
                    <div class="like">
                        <div class="like__list">
                            <div data-id="{{ question.pk }}" data-type="article" data-action="like" title="Like">
                                <h1><span class="like__button btn btn-outline-success">Like</span></h1>
                                <h1><span data-count="like"
                                          class="like-bar badge badge-secondary">{{ question.votes.likes.count }}</span>
                                </h1>
                            </div>
                            <div data-id="{{ question.pk }}" data-type="article" data-action="dislike"
                                 title="Dislike">
                                <span class="like__button btn btn-outline-danger">Dislike</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'forum/answers.html' %}
    {% if user.is_authenticated %}
        <form id="form" method="POST" novalidate>
            {% include 'common/form.html' %}
            <button type="submit" class="btn btn-success"><b>Answer</b></button>
        </form>
    {% endif %}
    {% include 'forum/pagination.html' %}
{% endblock %}
