{% block content %}
    <div class="questions__list">
        {% for question in questions %}
            <div class="row bg-light questions__item_main">
                <div class="col-1 liker">
                    {% csrf_token %}
                    <div class="like">
                        <div class="like__list">
                            <div data-id="{{ question.pk }}" data-type="article" data-action="like" title="Like">
                                <h1><span class="like__button btn btn-outline-success">Like</span></h1>
                                {#                                          class="like-bar badge badge-secondary">{{ question.votes.value }}</span>#}
                                {#                                </h1>#}
                            </div>
                            <h1><span data-count="like" class="like__bar badge badge-secondary">0</span></h1>
                            <div data-id="{{ question.pk }}" data-type="article" data-action="dislike"
                                 title="Dislike">
                                <span class="like__button btn btn-outline-danger">Dislike</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10">
                    <div class="questions__item">
                        <h1><a href="{% url 'question_detail' pk=question.pk %}">{{ question.title }}</a></h1>
                        <p>{{ question.text|linebreaksbr|truncatechars:200 }}</p>

                        <div class="users-list-heading .tag-headline">
                            <strong>Tags:</strong>
                            {% for tag in question.tags.all %}
                                <a href="{{ tag.get_absolute_url }}"
                                   class="badge badge-pill  badge-warning">{{ tag.title }}</a>
                            {% endfor %}
                        </div>

                        <div class="row">
                            <div class="col-5">
                                <div class="date">
                                    <p>Asked: {{ question.created_date }}</p>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="user">
                                    <img class="avatar" src="{{ question.author.image_path }}" width="75" height="75"
                                         alt="Generic placeholder image">
                                    {#                        <a href="{% url 'user_detail' pk=question.author.pk %}">{{ question.author.username }}</a>#}
                                    <a href="#">{{ question.author.username }}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
