{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
    <div class="sort font-weight-bold mb-4">
        <h2>Tag: {{ tag }}</h2>
    </div>
    {% include 'forum/question_list.html' %}
{% endblock %}
